* {
  background-color: #232323;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #EBEBEB;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.login-ul {
  display: flex;
  list-style: none;
  gap: 30px;
  margin: 50px;
}

li a {
  text-decoration: none;
}

.login-li-a {
  background-color: #ED9441;
  cursor: pointer;
  color: white;
  width: 100%;
  margin-top: 20px;
  border: 2px solid #ED9441;
  display: block;
  padding: 10px;
  font-size: 16px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
